DATABASE_URL="postgresql://postgres:postgres@localhost:5432/my_auth_db"
BETTER_AUTH_SECRET="CHANGE_ME_TO_A_32_CHAR_RANDOM_SECRET_STRING"
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your_google_oauth_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-your_google_oauth_client_secret"
GITHUB_CLIENT_ID="your_github_oauth_client_id"
GITHUB_CLIENT_SECRET="GOCSPX-your_github_oauth_client_secret"
EMAIL="abc@example.com"
APP_PASSWORD="your_email_app_password"